[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.1"
pytest = "*"
flake8 = "*"
psycopg2-binary = "*"
pytest-cov = "*"
pytest-pythonpath = "*"
mixer = "*"
requests = "*"
urllib3 = "==1.26.6"
pytest-django = "*"
django-redis = "*"
aiohttp = "*"
djangorestframework = "*"
pyjwt = "*"
dateparser = "*"

[dev-packages]

[requires]
python_version = "3.9"
